.baner{
  background-color: #e3ebf3;
}

.baner .bg-img{
  background-image: url(../../images/main_bg_img_heder.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}

@media screen and (max-width:992px){
  .baner .bg-img-md{
    background-image: url(../../images/Bg1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
  }
}

.baner a img{
  margin: 20px 0px;
}

.baner h1{
  background-color: var(--color_btn_send_message_hover);
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 60px;
  filter: drop-shadow(2px 3.464px 3.5px rgba(155,182,190,0.75));
  margin-bottom: 50px;
}

.baner h1::before{
  content: '';
  width: 0px;
  height: 0px;
  border-top: 30px solid var(--color_btn_send_message_hover);
  border-right: 30px solid transparent;
  position: relative;
  top: 45px;
  right: 66px;
}

.baner h4{
  color: #000000;
  margin-left: 50px;
  font-family: Roboto_Medium;
  text-transform: uppercase;
  font-size: 25px;
}

.baner ul{
  padding-left: 55px;
}

.baner ul li{
  font-size: 18px;
  line-height: 33px;
  color: #000000;
  font-family: "Arial Narrow";
}

.baner ul li::marker{
  color: var(--color_main_1)
}

.baner .btn a{
  width: 230px;
  height: 35px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color_main_1);
  font-family: Roboto_Regular;
  text-decoration: none;
  border: 1px solid #0983e5;
  margin-bottom: 20px;
  &:hover {
    color: #e3ebf3;
    background-color: #0983e5;
  }
}

.baner h3 {
    background-color: var(--color_btn_send_message_hover);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 33px;
    justify-content: center;
    width: 421px;
    height: 60px;
    filter: drop-shadow(2px 3.464px 3.5px rgba(2, 68, 121, 0.75));
    margin-bottom: 50px;
    font-size: 22px;
    line-height: 20px;
    text-transform: uppercase;
    color: #075da2;
    font-weight: 400;
    font-family: "Roboto_Medium";
}

.baner .heading-wrap h3::before {
    content: "";
    position: absolute;
    left: -11px;
    bottom: -10px;
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-right: 40px solid var(--color_btn_send_message_hover);
    border-bottom: 20px solid transparent;
    transform: rotate(64deg);
   
}



.baner h3 strong {
    font-size: 49px;
    letter-spacing: -5px;
    text-transform: uppercase;
    color: #dd0000;
    font-weight: 700;
    font-family: "Roboto_Bold";
    text-align: left;
}

.baner h3 span {
    font-size: 37px;
    text-transform: uppercase;
    color: #dd0000;
    font-weight: 400;
    font-family: "Roboto_Regular";
    text-align: left;

}

