.works {
    background-image: url(../../images/Bg3.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #f4f6fa;
    height: 715px;
}

.works .text1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.works .text1 h2 {
    background-color: var(--color_btn_send_message_hover);
    display: flex;
    align-items: center;
    padding-left: 10px;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    box-sizing: border-box;
    height: 60px;
    margin-bottom: 50px;
    filter: drop-shadow(2px 3.464px 3.5px rgba(2, 68, 121, 0.75));
    position: relative;

}

.works .text1 h2::before {
    content: '';
    width: 0px;
    height: 0px;
    border-top: 30px solid var(--color_btn_send_message_hover);
    border-right: 30px solid transparent;
    position: absolute;
    top: 60px;
    left: 0px;
}

.works-center-wrap {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.works .content {
    width: 705px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.works .container {
    width: 705px;
    height: 55px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #caddea;
}

.works .container:hover {

    background-color: #075da2;
}

.works .container::after {
    content: '';
    position: absolute;
    top: -0.55px;
    right: -46px;
    width: 0;
    height: 0;
    border-top: 28px solid transparent;
    border-left: 50px solid #075da2;
    border-bottom: 28px solid transparent;
    opacity: 0;
}

.works .container:hover::after {
    opacity: 1;
}

.works .container h5 {
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: #1b7fd0;
    font-weight: 100;
    font-family: "Roboto_Regular";
    display: flex;
    align-items: center;
    justify-content: center;
}

.works .container h5:hover {
    font-size: 22px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Roboto_Regular";
}

.works .right-block p {
    color: #000000;
    font-family: "Arial Narrow";
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.works .container span {
    font-size: 59px;
    line-height: 51px;
    text-transform: uppercase;
    color: #caddea;
    font-weight: 700;
    font-family: "Rajdhani";
    text-align: center;
    margin-right: 10px;
}

.container .right-block {
    width: 430px;
    position: absolute;
    background-color: #ffffff;
    filter: drop-shadow(2px 3.464px 3.5px rgba(167, 192, 200, 0.75));
    display: none;
    text-align: center;
    padding: 10px;
    transition: opacity 0.3s ease;
}


.container .right-block img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 40px;
}


.container:hover .right-block {
    display: block;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
    position: absolute;
    left: 753px;
    top: -10px;
}

.works .order {
    display: flex;
    justify-content: center;
}

.works .order button {
    background-color: var(--color_btn_oreder_now);
    width: 310px;
    height: 61px;
    color: var(--color_btn_text);
    border: 0;
    cursor: pointer;
    text-align: center;
    position: relative;
    font-size: 26px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto_Regular";
}

.works .order button::before {
    content: "";
    width: 0px;
    height: 0px;
    border-top: 30px solid var(--color_btn_oreder_now);
    border-right: 30px solid transparent;
    position: absolute;
    left: 0%;
    bottom: -45%;
}

.works .order button:hover {
    background-color: var(--color_btn_oreder_now_hover);
}

.works .order button:hover::before {
    border-top-color: var(--color_btn_oreder_now_hover);
}